$lightBlue: #b5e3f8;
$mediumBlue: #2165c7;
$darkBlue: #1156c2;
$lightGreen: #c0ea4a;
$darkRed: #a50606;
$white: white;
$dirtyWhite: #f2fbff;
$black: #111;

$border-radius-s: 10px;

$width-m: 750px;
$line-height-m: 41px;
$letter-spacing: 0.1em;

//fonts
$fontFamily: "Roboto";
$fontMonteserat: "Montserrat";

$font-size-m: 25px;

$spacing: 0.2em;

$m-radius: 50%;

$width-xxs: 360px;
$width-xs: 400px;
$width-xm: 560px;
$width-m: 650px;
$width-l: 740px;
$width-xl: 850px;

$height-xxs: 320px;
$height-xs: 360px;
$height-s: 400px;
$height-xm: 550px;
$height-m: 640px;
$height-l: 740px;
