* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital@1&display=swap");
body {
  margin: 0;

  font-family: "Lato", "Montserrat", Georgia, "Times New Roman", Times, serif,
    sans-serif;
  font-style: normal;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
